/*
	Name: Rebecca Rollins
	Description: An css file for the the index webpage.
*/
body {
	background-image: url("BG.jpg");
	font-family: Georgia, Times New Roman, serif;
	margin: 0px;	
	padding: 20px;
	text-align: left;
}
h1, h2, div {
	background-color: rgba(212,255,146,0.8);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 30px;
}
div {
	width: 90%;
	padding: 10px;
}
#banner {
	background-image: url("website banner.jpeg");
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
ul {
	background-color: #243f15;
	border-radius: 10px;
	list-style: none;
	margin: 0;
	overflow: hidden;
}
li {
	float: left;	
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
}
li a:hover {
	background-color: #89d12b;	
}
